<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/header::head('일정작성')}"></head>
<style>
    .plan-box {
        border: 1px solid #FF8A08;
        padding: 10px;
        margin: 15px auto; /* 위아래 마진은 0, 좌우 마진은 자동 */
        background-color: #FFF7FC;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        text-align: left;
        width: 80%; /* 너비를 80%로 설정 */
        max-width: 500px; /* 최대 너비를 500px로 설정 */
    }
    .font1 {
        font-size: 18px;
        font-weight: normal;
        color: #874CCC;
    }
    .font2 {
        font-size: 18px;
        font-weight: normal;
        color: #87A922;
    }
    #gi{
        margin-bottom: 20px;
    }
    .label {
        margin-right: 10px; /* 라벨과 값 사이에 10px의 마진 추가 */
        font-weight: bold; /* 라벨 텍스트를 굵게 */
    }

    .value {
        display: inline-block; /* 값이 라벨과 같은 줄에 표시 */
    }
    .dropdown {
        margin-left: 430px;
    }
    .dropdown-toggle {
        background: none;
        border: none;
    }

    .dropdown-menu {
        position: absolute;
        right: 0;
        z-index: 1000;
    }

    .dropdown-menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .btn-secondary {
        --bs-btn-color: black;
    }




</style>

<body>

<div th:replace="~{layout/header::header}"></div>
<div class="container text-center">  <!-- 그리드 시작 -->
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10" >
            <div id="gi">
            <h2>일정 모아보기</h2>
            </div>
            <div>
                <input type="hidden" id="userNo" th:value="${session.user.userNo}">
                <div id="plan_list"></div>
            </div>
            <div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editEventModalLabel">일정 수정</h5>
                            <button type="button" class="btn-close btn-kong" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editEventForm">
                                <input type="hidden" id="planNo" name="planNo">
                                <!-- 첫 번째 일정 세트 -->
                                <div class="form-group">
                                    <label for="firstPlan">첫번째 일정</label>
                                    <input type="text" class="form-control" name="firstPlan" id="firstPlan">
                                    <label for="firstComment">내용</label>
                                    <input type="text" class="form-control" name="firstComment" id="firstComment">
                                </div>

                                <!-- 두 번째 일정 세트 -->
                                <div class="form-group">
                                    <label for="secondPlan">두번째일정</label>
                                    <input type="text" class="form-control" name="secondPlan" id="secondPlan">
                                    <label for="secondComment">내용</label>
                                    <input type="text" class="form-control" name="secondComment" id="secondComment">
                                </div>

                                <!-- 세 번째 일정 세트 -->
                                <div class="form-group">
                                    <label for="thirdPlan">세번째일정</label>
                                    <input type="text" class="form-control" name="thirdPlan" id="thirdPlan">
                                    <label for="thirdComment">내용</label>
                                    <input type="text" class="form-control" name="thirdComment" id="thirdComment">
                                </div>

                                <div class="form-group">
                                    <label for="startAt">시작 날짜</label>
                                    <input type="datetime-local" name="startAt"  class="form-control" id="startAt">
                                </div>
                                <div>
                                    <label for="endAt" class="form-label">끝날짜/시간</label>
                                    <input type="datetime-local" name="endAt"  id="endAt" class="form-control">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-kong" id="edit_btn">저장</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-1">
        </div>
    </div>
</div>

<script th:inline="javascript">

    function formatDateTime(dateTimeString) {
        if (!dateTimeString) return '';
        const date = new Date(dateTimeString);
        return new Intl.DateTimeFormat('ko-KR', {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit'
        }).format(date);
    }

    var page = 1;
    var totalPage = 0;
    var userNo = document.getElementById('userNo').value;
    const fnGetPlanList = () => {
        $.ajax({
            type: 'get',
            url: '/plan/getPlanList.do',
            data: {
                page: page,
                userNo: userNo
            },
            dataType: 'json',
            success: (resData) => {
                totalPage = resData.totalPage;
                if (resData.planList != null && resData.planList.length > 0) {
                    $.each(resData.planList, (i, plan) => {
                        let str = '<div class="plan-box">';
                        str +='<div class="dropdown">'
                        str +='<a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">' + '...' + '</a>'
                        str +=' <ul class="dropdown-menu">'
                        str += '<li><a class="dropdown-item" href="#" onclick="openEditModal(' + plan.planNo + '); return false;">수정</a></li>';
                        str += '<li><div class="delete-btn" data-plan-no="' + plan.planNo + '"><a class="dropdown-item">삭제</a></div></li>'
                        str +='</ul>'
                        str +='</div>'
                        str +='<input type="hidden" id="planNo" th:value="${plan.planNo}">'
                        str +='<div class="font1">시작날짜/시간 <span class="label"></span><span class="value">' + formatDateTime(plan.startAt) + '</span></div>';
                        str +='<div class="font2">종료날짜/시간 <span class="label"></span><span class="value">' + formatDateTime(plan.endAt) + '</span></div>';
                        str +='<div class="font1">첫번째일정 <span class="label"></span><span class="value">' + (plan.firstPlan || '') + '</span></div>';
                        str +='<div><span>' + (plan.firstComment || '') + '</span></div>';
                        str +='<div class="font2">두번째일정 <span class="label"></span><span class="value">' + (plan.secondPlan || '') + '</span></div>';
                        str +='<div><span>' + (plan.secondComment || '') + '</span></div>';
                        str +='<div class="font1">세번째일정 <span class="label"></span><span class="value">' + (plan.thirdPlan || '') + '</span></div>';
                        str +='<div><span>' + (plan.thirdComment || '') + '</span></div>';
                        str +='</div>';
                        $('#plan_list').append(str);
                    });
                } else {
                    $('#plan_list').append('<p>No plans found.</p>');
                }
            },
            error: (error) => {
                console.error('Ajax 요청 에러:', error);
            }
        });

    };

    fnGetPlanList();


    function openEditModal(planNo) {
        // 모달에 플랜 번호 설정
        $('#editEventModal #planNo').val(planNo);
        $.ajax({
            url: '/layout/selectPlanModal.do',
            type: 'GET',
            data: { planNo: planNo,
                    userNo: userNo
            },
            dataType: 'json',
            success: function(data) {
                console.log(data);
                $('#firstPlan').val(data.firstPlan);
                $('#firstComment').val(data.firstComment);
                $('#secondPlan').val(data.secondPlan);
                $('#secondComment').val(data.secondComment);
                $('#thirdPlan').val(data.thirdPlan);
                $('#thirdComment').val(data.thirdComment);
                $('#startAt').val(data.startAt);
                $('#endAt').val(data.endAt);

                // 모달 표시
                $('#editEventModal').modal('show');
            },
            error: function(xhr, status, error) {
                console.log(xhr, status, error);
                alert('일정 상세 정보를 불러오는 데 실패했습니다.');
            }
        });
    }
    const fnModify = () => {
        $(document).ready(function() {
            $(document).on('click', '#edit_btn', function() {
        $.ajax({
            type: 'POST',
            url: '/layout/modify.do',
            data: $('#editEventForm').serialize(),
            dataType: 'json',
            success: function (response) {
                if (response.modifyResult === 1) {
                    alert('수정이 완료되었습니다.');
                } else {
                    alert('수정 실패');
                }
                $('#editEventModal').modal('hide');
            },
            error: function () {
                alert('서버 오류 발생');
                $('#editEventModal').modal('hide');
            }
        });
            });
        })
    }



    $(document).ready(function() {
        $(document).on('click', '.delete-btn', function() {
            var planNo = $(this).data('plan-no'); // data-plan-no 속성을 읽어옵니다.
            if (confirm('일정을 삭제하시겠습니까?')) {
                $.ajax({
                    url: '/layout/delete.do',
                    type: 'POST',
                    data: { planNo: planNo },
                    dataType: 'json',
                    success: function(resData) {
                        if (resData.removeResult === 1) {
                            alert('일정이 삭제되었습니다.');
                            $(this).closest('.plan-box').remove(); // 삭제된 요소를 DOM에서 제거합니다.
                        } else {
                            alert('일정이 삭제되지 않았습니다.');
                        }
                    },
                    error: function() {
                        alert('서버 오류가 발생했습니다.');
                    }
                });
            }
        });
    });

    fnModify();


</script>



<div th:replace="~{layout/footer::footer}"></div>
</body>
</html>