<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
  <th:block th:if="${#strings.isEmpty(title)}">Daily_Plan</th:block>
  <th:block th:if="${not #strings.isEmpty(title)}" th:text="${title}"></th:block>
</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/init.css(ver=1.2)}" />
<link rel="stylesheet" th:href="@{/css/header.css(ver=1.1)}" />
<link rel="stylesheet" th:href="@{/css/main.css(ver=1.2)}" />
<link rel="stylesheet" th:href="@{/css/footer.css(ver=1.0)}" />
<link rel="stylesheet" th:href="@{/css/paging.css(ver=1.0)}" />
<link rel="stylesheet" th:href="@{/css/common.css(ver=1.0)}" />
<link rel="stylesheet" th:href="@{/css/ckeditor.css(ver=1.0)}" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<style>

</style>
<body id="body">
 <div th:fragment="header" class="header_wrap">
     <div class="container text-center">
         <div class="row align-items-center">
             <div class="col-3" style="height: 140px;">
                 <!-- 로고 -->
                 <div class="logo">
                     <a href="/" style="text-decoration: none; color: inherit;">
                         <div class="logom"></div>
                     </a>
                 </div>
             </div>
             <div class="col-9 position-relative" >
                 <th:block th:if="${session.user == null}">
                 <div >
                     <a th:href="@{/user/login.do}" class="position-absolute top-50 end-0 translate-middle-y">로그인</a>
                 </div>
                 </th:block>
                 <div>
                     <a th:href="@{/plan/write.form}" class="position-absolute top-0 end-0" style="margin-top: 45px;">일정작성</a>
                 </div>
                 <th:block th:if="${session.user != null}">
                 <div id="stop" style="margin-bottom: 40px;">
                     <a style="font-size: 15px; display: inline-block; margin-bottom: 10px;" class="position-absolute top-50 end-0 translate-middle-y">로그아웃</a>
                 </div>
                 <div>
                     <a th:href="@{/user/mypage.do(userNo=${session.user.userNo})}" class="position-absolute bottom-0 end-0" style="margin-top: 30px;">마이페이지</a>
                 </div>
                 </th:block>
             </div>
         </div>
     </div>

     <!-- 네비게이션 바 -->
     <nav class="navbar navbar-expand-sm">
         <div class="container-fluid row" style="border-top: 1px solid #DED0B6;">


                 <div class="col-9"></div>

         </div>
     </nav>

     <script th:inline="javascript">
         $(document).ready(function() {
             $(document).on('click', '#stop', function() {
                 if (confirm("로그아웃 하시겠습니까?")) {
                     // AJAX 요청을 통해 서버에 로그아웃 요청
                     $.ajax({
                         url: '/user/logout.do',  // 로그아웃 처리 URL
                         type: 'GET',  // 보안을 위해 POST 요청 사용
                         success: function(response) {
                             alert('성공적으로 로그아웃 되었습니다.');
                             // 로그아웃 성공 후 리다이렉트할 페이지 URL
                             window.location.href = '/layout/main.do';
                         },
                         error: function() {
                             alert('로그아웃 실패. 다시 시도해 주세요.');
                         }
                     });
                 }
             });
         });


     </script>

 </div>
 </div>
 <script>
</script>     



</body>
</html>
