<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.oracle.dao.UserMapper">

  <insert id="insertUser" parameterType="UserDto">
    INSERT INTO USER_T (USER_NO, USER_EMAIL, USER_PW, USER_NAME, USER_PHONE, USER_ROLE, CREATE_AT, UPDATE_AT
    )VALUES(
    USER_SEQ.NEXTVAL,
    #{userEmail, jdbcType=VARCHAR},
    #{userPw, jdbcType=VARCHAR},
    #{userName, jdbcType=INTEGER},
    #{userPhone, jdbcType=INTEGER},
    1,
    TO_CHAR(SYSDATE,'YYYY/MM/DD'),
    TO_CHAR(SYSDATE,'YYYY/MM/DD')
    )
  </insert>

  <select id="getUser" parameterType="Map" resultType="UserDto">
    SELECT USER_NO, USER_EMAIL, USER_PW, USER_NAME, USER_PHONE, CREATE_AT, UPDATE_AT
    FROM USER_T
    <where>
      <if test="userEmail != null">USER_EMAIL = #{userEmail}</if>
      <if test="userPw != null">AND USER_PW = #{userPw}</if>
      <if test="userNo != null">AND USER_NO = #{userNo}</if>
    </where>
  </select>

  <select id="getUserPlanCount" resultType="int">
    SELECT COUNT(*)
      FROM PLAN_T
     WHERE USER_NO = #{userNo, jdbcType=INTEGER}
  </select>

  <select id="selectUser" parameterType="Map" resultType="UserDto">
    SELECT USER_NO, USER_EMAIL, USER_PW, USER_NAME, USER_PHONE, CREATE_AT, UPDATE_AT
      FROM USER_T
     WHERE USER_NO = #{userNo}
  </select>

  <update id="updateUser" parameterType="UserDto">
    UPDATE USER_T
       SET USER_NAME = #{userName, jdbcType=VARCHAR}
         , USER_PW = #{userPw, jdbcType=VARCHAR}
         , USER_PHONE = #{userPhone, jdbcType=VARCHAR}
     WHERE USER_NO = #{userNo, jdbcType=INTEGER}
  </update>

</mapper>