<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout/header::head('Daily_Plan 마이페이지')}"></head>
<body>
<div th:replace="~{layout/header::header}"></div>


<div class="main_wrap">
    <div class="wrap wrap_7">

        <p class="title">개인정보수정</p>

        <form method="post">

            <hr class="my-3">
            <div class="row mb-2">
                <label for="userName" class="col-sm-3 col-form-label">이름</label>
                <div class="col-sm-9"><input type="text" th:value="${session.user.userName}" id="userName" class="form-control"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-9 mb-3" id="msg_name"></div>
            </div>
            <div class="row mb-2">
                <label for="userEmail" class="col-sm-3 col-form-label">이메일</label>
                <div class="col-sm-6" type="text" th:text="${session.user.userEmail}" id="userEmail"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-9" id="msg_email"></div>
            </div>
            <div class="row mb-2" style="margin-top: 20px">
                <label for="userPhone" class="col-sm-3 col-form-label">휴대폰번호</label>
                <div class="col-sm-6"><input type="tel" th:value="${session.user.userPhone}" id="userPhone" class="form-control"></div>
            </div>

            <hr class="my-3">

            <div class="row mb-2">
                <label for="userPw" class="col-sm-3 col-form-label">비밀번호</label>
                <div class="col-sm-9"><input type="password" th:value="${session.user.userPw}" id="userPw" name="userPw" class="form-control"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-9 mb-3" id="msg_pw"></div>
            </div>

            <div class="row mb-2">
                <label for="userPw2" class="col-sm-3 col-form-label">비밀번호 확인</label>
                <div class="col-sm-9"><input type="password" id="userPw2" class="form-control"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-9 mb-3" id="msg_pw2"></div>
            </div>

            <hr class="my-3">

            <div class="row mb-4">
                <div class="col-sm-3">가입일</div>
                <div class="col-sm-9" th:text="${#temporals.format(session.user.createAt, 'yyyy-MM-dd')}"></div>
            </div>


            <div class="text-center">
                <input type="hidden" name="userNo" th:value="${session.user.userNo}">
                <button type="button" id="btn_modify" class="btn btn-secondary">개인정보수정</button>
            </div>

        </form>

    </div>

<script th:inline="javascript">


    const fnCheckPassword = () => {
        $('#userPw').keyup((ev) => {
            let pw = $(ev.target).val();
            // 비밀번호 : 8~20자, 영문,숫자,특수문자, 2가지 이상 포함
            let validPwCount = /[A-Z]/.test(pw)          // 대문자가 있으면   true
                + /[a-z]/.test(pw)          // 소문자가 있으면   true
                + /[0-9]/.test(pw)          // 숫자가 있으면     true
                + /[^A-Za-z0-9]/.test(pw);  // 특수문자가 있으면 true
            pwPassed = pw.length >= 8 && pw.length <= 20 && validPwCount >= 2;
            if(pwPassed){
                $('#msg_pw').text('사용 가능한 비밀번호입니다.');
            } else {
                $('#msg_pw').text('비밀번호는 8~20자, 영문/숫자/특수문자를 2가지 이상 포함해야 합니다.');
            }
        })
    }

    // 4. 비밀번호 확인
    const fnCheckPassword2 = () => {
        $('#userPw2').blur((ev) => {
            let pw = $('#userPw').val();
            let pw2 = ev.target.value;
            pw2Passed = (pw !== '') && (pw === pw2);
            if(pw2Passed){
                $('#msg_pw2').text('');
            } else {
                $('#msg_pw2').text('비밀번호 입력을 확인하세요.');
            }
        })
    }

    fnCheckPassword();
    fnCheckPassword2();

</script>

</div>

<div th:replace="~{layout/footer::footer}"></div>
</body>
</html>