@charset "UTF-8";

@import url('https://webfontworld.github.io/TheJamsil/TheJamsil.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

.logo {
  background-size: 100%; 
  cursor: pointer;
}
.logom {
   background-image: url(../image/Preview.png);
   background-repeat: no-repeat;
   width: 370px;
   height: 150px;

}

.header_search {	
	margin-top:20px;
}

.user {
 margin-top:20px;
 width: max-content;
		
}
.user > a {
  display: inline-block;
}
.user div {
  font-size: 10px;
  margin-top: 2px;
}

i {
  margin: 0 5px 0 5px;
}
.collapse {
	margin-left:9.10%;
}

