@charset "UTF-8";

@import url('https://webfontworld.github.io/TheJamsil/TheJamsil.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');


* {
  font-family: 'TheJamsil';
  color:#333333;
  font-weight: 300;
}
div, ul, li, ol {
  padding: 0;
  margin: 0;
  position: relative;

}

html {
  line-height: 0;
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
  color: #333333;
}
i {
  color: #333333;
}
a:hover {
  color: #96B6C5;
}
a:hover i {
  color: #96B6C5;
}
ul, ol {
  list-style-type: none;
}
.col-10 {
	margin-top: 20px;
}